.to-Top {
    position: absolute;
    bottom: 180px;
    right: 30px;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    background-color: transparent;
    z-index: 10;
  
    
    
  }




  #my-btn{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    
  }


  
  
  
  .arrow-up {
    filter: invert(50%) sepia(53%) saturate(577%) hue-rotate(150deg) brightness(92%) contrast(89%);
    height: 40px;
    transition-duration: 0.4s;
  }
  
  .arrow-up:hover{
      transform: scale(1.1);
      transition-duration: 0.4s;
  }
  
  
  @media screen and (max-width: 400px) {
    .to-Top {
      position: fixed;
      bottom: 30px;
      right: 20px;
      font-size: 1.5em;
      color: rgb(49, 150, 187);
      cursor: pointer;
      
      background-color: transparent;
    }
    
    
    
    .arrow-up {
      filter: invert(21%) sepia(70%) saturate(4944%) hue-rotate(338deg)
        brightness(86%) contrast(102%) opacity(70%);
      height: 40px;
      transition-duration: 0.4s;
    }
    
    .arrow-up:hover{
        transform: scale(1.1);
        transition-duration: 0.4s;
    }
    
  }