.to-Top {
    position: fixed;
    bottom: 30px;
    margin-bottom: 12%;
    right: 30px;
    animation: blink 1s infinite;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    background-color: transparent;
    z-index: 10;
    
    
  }


  #my-btn{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }


  
  
  
  .arrow-up {
    filter: invert(52%) sepia(0%) saturate(0%) hue-rotate(289deg) brightness(96%) contrast(93%);
    height: 40px;
    transition-duration: 0.4s;
  }
  
  .arrow-up:hover{
      transform: scale(1.1);
      transition-duration: 0.4s;
  }
  
  
  @media screen and (max-width: 400px) {
    .to-Top {
      position: fixed;
      bottom: 30px;
      right: 20px;
      font-size: 1.5em;
      color: rgb(155, 150, 151);
      cursor: pointer;
      
      background-color: transparent;
    }
    
    
    
    .arrow-up {
      filter: invert(21%) sepia(70%) saturate(4944%) hue-rotate(338deg)
        brightness(86%) contrast(102%) opacity(70%);
      height: 40px;
      transition-duration: 0.4s;
    }
    
    .arrow-up:hover{
        transform: scale(1.1);
        transition-duration: 0.4s;
    }
    
  }