form{
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: auto;
    padding-top: 5%;
    align-items: center;
    margin-bottom: 5%;
}


form input{
    margin-top: 3%;
    width: 50%;
    padding: 10px;
    
}

form textarea{
    width: 54%;
    margin-top: 3%;
    min-height: 100px;
    
}

form button {
    width: 150px;
    padding: 20px;
    margin: auto;
    margin-top: 2%;
}