.header {
  display: flex;
  background-color: navy;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  top: 0;
  flex-direction: row;
  height: 70px;
  z-index: 2;
}

.nav-container {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.nav-container a {
  color: white;
  font-size: 1.7em;
  margin-right: 12%;
  padding: 0;
  text-decoration: none;
  transition-duration: 0.4s;
}

.nav-container a:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
}

.logo {
  color: whitesmoke;
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.logo h1 {
  font-size: 2em;
  margin-left: 4%;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label span {
  display: none;
}

@media screen and (max-width: 650px) {
  .header {
    background-color: navy;
    height: 70px;
    width: 100%;
    position: absolute;
   
  }

  .logo {
    flex: 50%;
    display: flex;
    height: 100%;
    align-items: center;
    margin: auto;
  }

  .logo h1{
    margin: auto;
  }

  .nav-container {
    background-color: navy;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 70px;
    padding-top: 3%;
    padding-bottom: 5%;
    position: fixed;
    border-radius: 0;
    height: 200px;
    transform: scale(1, 0);
    transform-origin: top;
    transition: opacity 1250ms ease-in;
    transition: transform 350ms ease-in-out 50ms;
  }

  .nav-container a {
    color: white;
    font-size: 1.7em;
    margin-right: 0%;
    padding: 0;
    text-decoration: none;
    transition-duration: 0.4s;
    opacity: 0;
  }

  .nav-toggle:checked ~ nav {
    transform: scale(1, 1);
    transition: 0.5s;
  }

  .nav-toggle:checked ~ nav a {
    opacity: 1;
    padding: 20px;
    transition: opacity 140ms ease-in-out;
    transition: 0.2s;
    display: flex;
    width: 100%;
    justify-content: center;

  }

  .nav-toggle:checked ~ nav a:hover {
    transition: 0.5s;
    transform: scale(1);
    background: white;
    color: navy;
    width: 100%;
    display: flex;
    justify-content: center;
    
  }

  .nav-toggle {
    display: none;
  }

  .nav-toggle-label {
    position: absolute;
    top: 12%;
    right: 0;
    height: 70%;
    display: flex;
    align-items: center;
    background-color: navy;
    margin-right: 5%;
  }

  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 3px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }

  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: "";
    position: absolute;
  }

  .nav-toggle-label span::before {
    bottom: 8px;
  }

  .nav-toggle-label span::after {
    top: 8px;
  }
}
