/* footer */

footer {
    background-color: rgb(34, 32, 32);
    color: var(--secondary-text-color);
    
  }
  
  footer h2 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    
  }
  
  .footer-contacts {
    margin: auto;
    padding-top: 1%;
    margin-bottom: 2%;
  }
  
  .footer-contacts span {
    margin: 30px;
  }
  
  
  /* footer contacts style */
  
  #github-logo{
    filter: invert();
    transition: .4s;
  }

  #github-logo:hover{
    transform: scale(1.5);
    transition: .4s;
  }

  @media screen and (max-width: 768px){
    footer {
      background-color: rgb(34, 32, 32);
      color: var(--secondary-text-color);
    }
    
    footer h2 {
      text-align: center;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    
    .footer-container {
      display: flex;
      flex-direction: column;
    }
    
    .footer-contacts {
      margin: auto;
      padding-top: 2%;
      margin-bottom: 6%;
    }
    
    .footer-contacts span {
      margin: 30px;
    }
    
    
    /* footer contacts style */
    
    #github-logo{
      filter: invert();
    }


  }