.cv-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 8%;
}

.cv-btn {
  background-color: rgb(49, 150, 187);
  text-decoration: none;
  color: white;
  padding: 8px;
  transition: all .3s ease;
}

.cv-btn:hover{
    transform: scale(1.05);
    background-color: rgb(34, 32, 32);

}


@media screen and (max-width: 768px) {
  .cv-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10%;
    
  }
  
  .cv-btn {
    background-color: rgb(49, 150, 187);
    text-decoration: none;
    color: white;
    padding: 8px;
    transition: all .3s ease;
  }
  
  .cv-btn:hover{
      transform: scale(1.05);
      background-color: rgb(34, 32, 32);
  
  }

}

@media screen and (max-width: 415px) {
  .cv-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25%;
  }
  
  .cv-btn {
    background-color: rgb(49, 150, 187);
    text-decoration: none;
    color: white;
    padding: 8px;
    transition: all .3s ease;
  }
  
  .cv-btn:hover{
      transform: scale(1.05);
      background-color: rgb(34, 32, 32);
  
  }

}



