

@media screen and (min-width: 768px) {
/* Global Variables */
:root {
  --main-bg-color: rgb(255, 255, 255);
  --secondary-bg-color: rgb(34, 32, 32);
  --main-text-color: black;
  --secondary-text-color: white;
}

body {
  background-color: var(--main-bg-color);
  
}

* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.intro {
  /* header */
  width: 100%;
  height: 70vh;
  object-fit: cover;
  border-radius: 0% 0% 55% 55%/0% 0% 15% 15%;
  position: relative;
  display: flex;
  background-color: rgb(49, 150, 187);
}


.intro-text{
  position: absolute;
  z-index: 2;
  margin: auto;
  width: 100%;
  text-align: center;
  margin-top: 20%;

}
.my-pic {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 2;
  margin-top: 10%;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  filter: grayscale(70%);
  transition: 0.4s;
}

.my-pic:hover {
  
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  filter: none;
  transition: 0.4s;
}

.intro h1 {
  font-size: 2.8em;
  margin-top: 3%;
  margin-bottom: 1.5%;
  color: var(--secondary-text-color);
 
}

.intro h2 {
  font-size: 1.4em;
  margin-top: 10px;
  margin-bottom: 3%;
  color: var(--secondary-text-color);
  

}

/* .bg-image{
  width: 100%;
  height: 70vh;
  object-fit: cover;
  border-radius: 0% 0% 55% 55%/0% 0% 15% 15%;
  position: relative;
  display: flex;
} */

.alpha-code {
  margin-left: 5px;
  font-size: 0.5em;
  color: var(--secondary-text-color);
  

}

/* Section 2 */

.my-tech {
  background-color: var(--main-bg-color);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.my-tech h2 {
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 2.2em;
  color: var(--main-text-color);

}

#handlebars-logo{
  filter:invert(30%);
}
.tech-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tech-box {
  margin: 18px;
  width: auto;
  height: auto;
  margin-bottom: 2%;
}

.language-logo {
  width: 50px;
  height: 50px;
  filter: opacity(80%);

  transition: 0.4s;
}

.language-logo:hover {
  filter: none;
  transform: scale(1.1);
  transition: 0.4s;
}
hr{
  width: 15%;
  margin: auto;
  border-style: solid;
  border-color:  rgb(59, 58, 139);;
}
.split {
  display: flex;
  width: 60%;
  background-color: rgb(59, 58, 139);
  height: 2px;
  margin: auto;
  border-bottom: 2px solid white;
  margin-top: 5%;
}

/* Section 3 - article about me */
.about-me {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin-bottom: 5%;
}

.about-me h2 {
  text-align: center;
  font-size: 2.2em;
  margin-top: 6%;
  margin-bottom: 2%;
}

.about-me-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-me-text {
  padding: 5px;
  line-height: 25px;
  width: 60%;
  text-align: justify;
  font-size: 1.2rem;
  margin-bottom: 4%;
}

/* Section 4 - projects section  */
.my-projects {
  background-color: rgb(205, 236, 247);
  /* border-radius: 55% 55% 0% 0%/5% 5% 15% 15%; */
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  
}

.myprojects-title{
  text-align: center;
  font-size: 2.2em;
  margin-top: 4%;
  margin-bottom: 2%;
 /*  text-decoration: underline;
  text-underline-offset: 13px; */
}

.my-projects h3 {
  margin-top: 3%;
  margin-bottom: 2%;
  font-size: 1.8em;
}
.my-projects-wrapper {
  display: flex;
  flex-direction: column;
  
  
}

.project-box {
  /* background-color: var(--secondary-bg-color); */
  margin: auto;
  margin-top: 5%;
  left: 0;
  right: 0;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  width: 80%;
  flex-wrap: wrap;
 
  
  
}

.project-text-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px;
  width: 50%;
  padding-left: 5%;
  
  
  
}
.project-image {
  width: 20vw;
  height: 14vw;
  margin: auto;
  filter: grayscale(100%);
  padding: 20px;
  margin-right: 0;
  transition: .5s;
 
}

.project-image:hover {
  opacity: 1;
  filter: none;
  transition: .3s;
}

.hr-project{
  width: 60%;
  
}


.project-text {
  width: 70%;
  margin-top: 1%;
  line-height: 25px;
  
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  
}

.button-wrapper a {
  margin: 5px;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: 1.1em;
  padding: 15px;
  margin-top: 5%;
  border: hidden;
  margin-bottom: 5%;
  transition: 0.3s;
}

.button-wrapper a:hover {
  background-color:rgb(49, 150, 187);
  color: var(--main-text-color);
  transition: 0.2s;
}


.modal-btn{
  width: 100px;
  margin: auto;
  margin-top: 5px;
  display: none;
}

.tech-used h3 {
  margin-bottom: 5%;
}
.tech-used ul {
  margin-bottom: 2%;
}

.tech-used li {
  list-style: none;
  display: inline-flex;
  margin: 10px;
}
}

@media screen and (max-width: 768px) {
  /* Global Variables */
:root {
  --main-bg-color: rgb(255, 255, 255);
  --secondary-bg-color: rgb(34, 32, 32);
  --main-text-color: black;
  --secondary-text-color: white;
}

body {
  background-color: var(--main-bg-color);
  
}

* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.intro {
  /* header */
  width: 100%;
  height: 80vh;
  object-fit: cover;
  border-radius: 0% 0% 55% 55%/0% 0% 15% 15%;
  position: relative;
  display: flex;
  background-color: rgb(49, 150, 187);
}



.intro-text{
  position: absolute;
  z-index: 2;
  margin: auto;
  width: 100%;
  text-align: center;
  margin-top: 85%;

}
.my-pic {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 2;
  margin-top: 35%;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  
}



.intro h1 {
  font-size: 2em;
  margin-top: 3%;
  margin-bottom: 1.5%;
  color: var(--secondary-text-color);
 
}

.intro h2 {
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 3%;
  color: var(--secondary-text-color);
  

}

/* .bg-image{
  width: 100%;
  height: 70vh;
  object-fit: cover;
  border-radius: 0% 0% 55% 55%/0% 0% 15% 15%;
  position: relative;
  display: flex;
} */

.alpha-code {
  margin-left: 5px;
  font-size: 0.7em;
  color: var(--secondary-text-color);
  

}

/* Section 2 */

.my-tech {
  background-color: var(--main-bg-color);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 18%;
  margin-bottom: 10%;
}

.my-tech h2 {
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 2.2em;
  color: var(--main-text-color);

}

#handlebars-logo{
  filter:invert(30%);
}
.tech-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tech-box {
  margin: 18px;
  width: auto;
  height: auto;
  margin-bottom: 2%;
}

.language-logo {
  width: 50px;
  height: 50px;
  filter: opacity(80%);

  transition: 0.4s;
}

.language-logo:hover {
  filter: none;
  transform: scale(1.1);
  transition: 0.4s;
}
hr{
  width: 15%;
  margin: auto;
  border-style: solid;
  border-color:  rgb(59, 58, 139);;
}
.split {
  display: flex;
  width: 60%;
  background-color: rgb(59, 58, 139);
  height: 2px;
  margin: auto;
  border-bottom: 2px solid white;
  margin-top: 5%;
}

/* Section 3 - article about me */
.about-me {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin-bottom: 5%;
  margin-top: 10%;
}

.about-me h2 {
  text-align: center;
  font-size: 2.2em;
  margin-top: 6%;
  margin-bottom: 4%;
}

.about-me-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-me-text {
  padding: 5px;
  line-height: 32px;
  width: 80%;
  text-align: justify;
  font-size: 1.2rem;
  margin-bottom: 20%;
}

/* Section 4 - projects section  */
.my-projects {
  background-color: rgb(205, 236, 247);
  /* border-radius: 55% 55% 0% 0%/5% 5% 15% 15%; */
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  
}

.myprojects-title{
  text-align: center;
  font-size: 2.2em;
  margin-top: 15%;
  margin-bottom: 10%;
 /*  text-decoration: underline;
  text-underline-offset: 13px; */
}

.my-projects h3 {
  margin-top: 3%;
  margin-bottom: 2%;
  font-size: 1.8em;
}
.my-projects-wrapper {
  display: flex;
  flex-direction: column;
  
  
}

.project-box {
  /* background-color: var(--secondary-bg-color); */
  margin: auto;
  margin-top: 2%;
  left: 0;
  right: 0;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
  
  
}

.project-text-container {
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: 100%;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  margin-bottom: 15%;
  
}

.project-title{
  text-align: center;
  padding-bottom: 6%;
}
.project-text {
  width: 90%;
  margin-top: 1%;
  line-height: 25px;
  text-align: justify;
  margin-bottom: 3%;
  
  
}
.project-image {
  width: 58vw;
  height: 50vw;
  margin: auto;
  margin-top: 2%;

 
}

.hr-project{
  width: 60%;
  margin-bottom: 10%;
 
}



.button-wrapper {
  display: flex;
  flex-direction: row;
  
}

.button-wrapper a {
  margin: 5px;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: 1.1em;
  padding: 15px;
  margin-top: 5%;
  border: hidden;
  margin-bottom: 5%;
}

.modal-btn{
  width: 100px;
  margin: auto;
  margin-top: 5px;
  display: none;
}

.tech-used h3 {
  margin-bottom: 5%;
}
.tech-used ul {
  margin-bottom: 2%;
}

.tech-used li {
  list-style: none;
  display: inline-flex;
  margin: 10px;
}
}
